body{
        font-family:kanit, sans-serif;
        background-color:black;
        color:#666;
        display:flex;
        flex-direction:column;
}
img{
        width:500px;
        height:auto;
}